.page-container {
  margin-top: 100px;
}
  body {
  padding-top: 50px;
  margin: 0;
  padding: 10px;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  background-color: #ffc70d;
  text-align: center;
}
.navbar-brand {
  font-size: 50px;
}


/*h1 {
  display: block;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  font-size: 50px;
  font-weight: 400;
  text-decoration: line-through;
}*/

.navbar {
  background-color: #ffc70d;
}

.pokemon-list {
  width: 100%;
  list-style-type: none;
  position: absolute;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.my-class {
  background-color: #fff;
  border: 2px #9c1304 double;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 35px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.my-class:hover {
  background-color: #82281e;
  color: white;
  border-color: #9c1304;
}
