html, body {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  background-color: #a5dea5;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.page-header {
  display: block;
  text-align: center;
  color: #fff;
}

.page-header h1 {
  font-size: 75px;
  font-weight: 500;
  text-decoration: line-through;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style-type: none;
  position: absolute;
  width: 95%;
  margin: 5px auto 0;
  padding: 5px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

button {
  background-color: #325931;
  color: #fff;
  width: 240px;
  height: 70px;
  border: 2px #fff double;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 15px;
}
.modal-img {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
}

/*styling for the details of each pokemon*/
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  /*to show it above other content*/
  z-index: 999;
  /*to allow scrolling if the screen isnt high enough*/
  overflow: auto;
  /*used to center modal*/
  display: grid;
  text-align: center;
}

.modal {
  margin:auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0px;
  background: none;
  color: #000;
  font-size: 10px;
  text-decoration: underline;
  text-align: right;
}
